homelab/n8n/nourish-sync-shop-interval-import.json
{
  "name": "Nourish — sync shop interval",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtHour": 6 }]
        }
      },
      "id": "b1",
      "name": "Daily 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nourish-sync-shop-interval",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b2",
      "name": "Webhook (manual)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 480],
      "webhookId": "nourish-sync-shop-interval"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://192.168.1.27:8787/metrics"
      },
      "id": "b3",
      "name": "Fetch nourish metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "valid-interval",
              "leftValue": "={{ $json.suggested_days_until_shop }}",
              "rightValue": 1,
              "operator": { "type": "number", "operation": "gte" }
            },
            {
              "id": "valid-max",
              "leftValue": "={{ $json.suggested_days_until_shop }}",
              "rightValue": 21,
              "operator": { "type": "number", "operation": "lte" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b4",
      "name": "Valid interval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [520, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.61:8123/api/services/input_number/set_value",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer HA_TOKEN_PLACEHOLDER" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"entity_id\": \"input_number.nourish_days_until_shop\", \"value\": {{ $json.suggested_days_until_shop }}}"
      },
      "id": "b5",
      "name": "Set HA helper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "b6",
      "name": "Respond skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [780, 480]
    }
  ],
  "connections": {
    "Daily 06:00": { "main": [[{ "node": "Fetch nourish metrics", "type": "main", "index": 0 }]] },
    "Webhook (manual)": { "main": [[{ "node": "Fetch nourish metrics", "type": "main", "index": 0 }]] },
    "Fetch nourish metrics": { "main": [[{ "node": "Valid interval?", "type": "main", "index": 0 }]] },
    "Valid interval?": {
      "main": [
        [{ "node": "Set HA helper", "type": "main", "index": 0 }],
        [{ "node": "Respond skipped", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
