homelab/n8n/nourish-leave-home-import.json
{
  "name": "Nourish — despensa ao sair de casa",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nourish-leave-home",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "nourish-leave-home"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.27:8787/check",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ days_until_shop: $json.body?.days_until_shop ?? $json.days_until_shop ?? 4 }) }}"
      },
      "id": "a2",
      "name": "Run nourish check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $json.added.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a4",
      "name": "Items added?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.61:8123/api/services/notify/send_message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer HA_TOKEN_PLACEHOLDER" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\": {{ JSON.stringify($json.summary) }}, \"title\": \"Compras — saíste de casa\", \"entity_id\": \"notify.telemovel_francisco\"}"
      },
      "id": "a5",
      "name": "Notify HA phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "a6",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [820, 420]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Run nourish check", "type": "main", "index": 0 }]] },
    "Run nourish check": {
      "main": [[{ "node": "Items added?", "type": "main", "index": 0 }, { "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Items added?": { "main": [[{ "node": "Notify HA phone", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" }
}
